<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Enter Your Madlib Details</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Enter a word to be converted to 733tZp34k.</h1>
      <form action="/result" method="post">
        <div class="form-group">
          <label for="word">Enter a word here.</label>
          <input id="word" name="word" type="text">
        </div>
        <button class="btn btn-info" type="submit">Create 733t</button>
      </form>
    </div>
  </body>
</html>